
// block edit element
$block-edit-margin:  0.25rem!default;
$block-edit-padding: 0.25rem!default;

// block edit title
$block-edit-title-bg:          rgba(255,255,255,0.5)!default;
$block-edit-title-margin:      0.25rem!default;
$block-edit-title-padding:     0.25rem!default;
$block-edit-title-line-height: 1.5rem;
